@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @Model.Name        
    </h1>
    <form method="post">
        <div class="row">
            <div class="col">
                <label asp-for="Address.Street"></label><br />
                <input asp-for="Address.Street" /><br />
                <span asp-validation-for="Address.Street" class="text-danger"></span><br />
            </div>

            <div class="col">
                <label asp-for="Address.Number"></label><br />
                <input asp-for="Address.Number" /><br />
                <span asp-validation-for="Address.Number" class="text-danger"></span><br />
            </div>

            <div class="col">
                <label asp-for="Address.ZipCode"></label><br />
                <input asp-for="Address.ZipCode" /><br />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span><br />
            </div>

            <div class="col">
                <label asp-for="Address.City"></label><br />
                <input asp-for="Address.City" /><br />
                <span asp-validation-for="Address.City" class="text-danger"></span><br />
            </div>

        </div>
        <br />
        <button type="submit">Zatwierdź</button>
    </form>
</div>

